*{
    padding: 0%;
    margin: 0%;
}
.logo{
    width: 60vw;
    height: 20vh;

}

header{
    display: flex;
    background-color:  #eab7a3;
    justify-content: center;
    align-items: center;
}

main{
    gap: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.botoes{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.barra{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color: #a75f4a; 
}

.logocafe{
    width: 15vw;
    height: 20vh;
}

.texto{
    font-size: 23px;
    color: #a75f4a;
}

.titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textotrab{
    width: 40vw;
    text-align: center;
    width: 60vw;
}

.subtitulo{
    font-size: 30px;
}

.link{
    font-size: 18px;
}




